<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>closeColor</key>
	<string>#000000</string>
	<key>licenseKey</key>
	<string>a174df4f79463f4c28a8943c8e0b59a1</string>
</dict>
</plist>
